body{
  font-family: "Montserrat", sans-serif;
  background: url('../public/fundo-min.png');
  background-size: cover;
}

.instagram{
  background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
  background-size: 300% 300%;
}
