@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Montserrat", sans-serif;
  background: url('../public/bg.png');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
}